<div class="ui raised segment">
  <h2 class="ui header">演示形式：具有自定义验证</h2>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form">

    <div class="field"
        [class.error]="!sku.valid && sku.touched">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="sku">
       <div *ngIf="!sku.valid"
         class="ui error message">SKU无效</div>
       <div *ngIf="sku.hasError('required')"
         class="ui error message">SKU是必需的</div>
       <div *ngIf="sku.hasError('invalidSku')"
         class="ui error message">SKU必须开头以<span>123</span>开始</div>
    </div>

    <div *ngIf="!myForm.valid"
      class="ui error message">表单无效</div>
    <button type="submit" class="ui button">提交</button>
  </form>
</div>
