<div class="container">

  <h3>响应式表单的验证</h3>

  <form [formGroup]="heroForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="form-group">

        <label for="name">Name</label>
        <input id="name" class="form-control"
               formControlName="name" required>

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="name.errors.forbiddenName">
            Name cannot be Bob.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input id="alterEgo" class="form-control"
               formControlName="alterEgo">
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select id="power" class="form-control"
                formControlName="power" required>
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>

        <div *ngIf="power.invalid && power.touched" class="alert alert-danger">
          <div *ngIf="power.errors.required">Power is required.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-default"
              [disabled]="heroForm.invalid">提交
      </button>
      <button type="button" class="btn btn-default"
              (click)="formDir.resetForm({})">重置
      </button>
    </div>
  </form>

  <div class="submitted-message" *ngIf="formDir.submitted">
    <p>你提交了你的英雄, {{ heroForm.value.name }}!</p>
    <!--resetForm({})为内置函数:清空表单已输入的内容-->
    <button (click)="formDir.resetForm({})">添加新的英雄</button>
  </div>
</div>


<!--
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->